html,body{
  height: 100%;
}

body{
  background: #f1f1f1;
  color: #252525;
  font-size: 16px;
  font-family: "Segoe UI";
  font-weight: 400;
  padding: 0px;
}

a,
a:hover{
  color: inherit;
}

li{
  list-style: none;
}

li:hover{
  border-bottom: 1px solid #fff;
}

ul{
  padding: 0px;
  margin: 0;
}

#navigationBar{
  width: 100%;
  height: 60px;
  background: var(--primary);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  color: #fff;
}

#navigationBar  li{
  float: left;
  line-height: 30px;
  padding: 5px 0px;
  margin: 10px 15px;
  transition: all 0.3s ease;
}

.table{
  background: #fff;
  box-shadow: 0 5px 6px rgba(0,0,0,0.07);
}

.table a{
  color: var(--primary);
}

.DayPickerInput input{
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  border-radius: 4px;
  height: 40px;
  border: 1px solid #ddd;
}